.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebfaef;
}
.repos-heading {
  font-family: 'Roboto';
  text-align: center;
  font-size: 36px;
}
.repos-container {
  list-style-type: none;
}
